[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pytest = "*"
pylint = "*"
flask-migrate = "*"
psycopg2-binary = "*"
flask-script = "*"
flask = "==1.1.2"
flask-restx = "*"
flask-marshmallow = "*"
flask-login = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
